src/main/mule/intro.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="80f3bf09-1872-4263-98e3-be86fb7a66f7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="introFlow" doc:id="f610c710-dff4-48c8-8292-19f7516158d3" >
		<http:listener doc:name="Listener" doc:id="7e2c9b92-f542-42d9-a2d4-1abbd8339933" config-ref="HTTP_Listener_config" path="/jkjl"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="a7975dbf-7573-4b03-ab9d-4007fbc04bd2" />
	</flow>
</mule>
